# Session Secret
SESSION_SECRET=your_secret_session_key_here

# Database Connection
MONGODB_URI=mongodb://localhost:27017/proplet

# Site Configuration
SITE_URL=http://localhost:5173
SITENAME=Proplet
WEB_ADMIN_EMAIL=support@proplet.co.uk

# AWS S3 Storage
STORAGE_REGION=eu-west-2
STORAGE_ACCESS_KEY=
STORAGE_SECRET=
STORAGE_BUCKET=aiufs-bucket

# SMTP Mail Server
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Maintenance Cron Secret
CRON_SECRET=
